<div ng-hide="status" class="center">
	<div class="preloader-wrapper big active">
		<div class="spinner-layer spinner-blue-only">
			<div class="circle-clipper left">
				<div class="circle"></div>
			</div>
		</div>
	</div>
</div>

<div ng-show="status">
	<div class="show blue-grey lighten-5" ng-show="show">
	
		<p class="text-form teal-text center"> {{ name | uppercase }}'s Logs </p>

		<table class="hoverable">
			<thead>
				<tr>
					<th>Number</th>
					<th>ID</th>
					<th>Name</th>
					<th>Room</th>
					<th>Date</th>
					<th>Time</th> 
				</tr>    
			</thead>				

			<tbody ng-repeat="show in shows">
				<tr>
					<td> {{ $index + 1 }} </td>
					<td> {{ card_id }} </td>
					<td> {{ name }} </td>
					<td> {{ show.room.room }} </td>
					<td> {{ show.access | date:"dd-MM-yyyy" }} </td>
					<td> {{ show.access | date:"HH:mm:ss" }} </td>
				</tr>
			</tbody>     
		</table>

	</div>

	<div class="show blue-grey lighten-5 no-info center" ng-hide="show">
		No information
	</div>

	<div class="row">
		<div class="col s8">
			<ul ng-if="lastPage != 1 && lastPage != 0" class="pagination">
				<li><a href="#listName/{{ id }}/{{ room }}/1"><i class="material-icons">skip_previous</i></a></li>

				<li ng-if="pageNo == 1" class="disabled"><a><i class="material-icons">chevron_left</i></a></li>
				<li ng-if="pageNo != 1" class="waves-effect"><a href="#listName/{{ id }}/{{ room }}/{{ (pageNo * 1) - 1 }}"><i class="material-icons">chevron_left</i></a></li>

				<div ng-repeat="page in total_page">
			    	<li ng-if="pageNo == page" class="active"><a href="#listName/{{ id }}/{{ room }}/{{ page }}">{{ page }}</a></li>
			    	<li ng-if="pageNo != page" class="waves-effect"><a href="#listName/{{ id }}/{{ room }}/{{ page }}">{{ page }}</a></li>
				</div>

				<li ng-if="pageNo == lastPage" class="disabled"><a><i class="material-icons">chevron_right</i></a></li>
				<li ng-if="pageNo != lastPage" class="waves-effect"><a href="#listName/{{ id }}/{{ room }}/{{ (pageNo * 1) + 1 }}"><i class="material-icons">chevron_right</i></a></li>
			
				<li><a href="#listName/{{ id }}/{{ room }}/{{ lastPage }}"><i class="material-icons">skip_next</i></a></li>
			</ul>
		</div>

		<a class="waves-effect waves-light btn right back" href="#name/{{ room }}/1">Back</a>

	</div>
</div>